/* Block: faq*/

.faq {
  @include center;
  margin-bottom: 40px;
}

.faq__row {
  @include clearfix;
}

.faq__row-title {
  margin-bottom: 40px;
  color: $c-gray;
  font-weight: bold;
  font-size: 36px;
  font-family: $ff-ptsansnarrow;
}

.faq__row-col {
  float: left;
  margin-right: 34px;
  width: 450px;

  &:last-of-type {
    margin-right: 0;
  }
}

.faq-col__text {
  margin-bottom: 45px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.faq-text__question {
  display: block;
  margin-bottom: 10px;
  color: $c-orange;
  font-size: 20px;
  font-family: $ff-ptsansnarrow;
}

.faq-text__answer {
  display: block;
  color: $c-gray;
  font-size: 16px;
  font-family: $ff-ptsans;
  line-height: 32px;
}

.faq__smile {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: transparent url(../images/smile.png) no-repeat center center;
  background-size: cover; 
}