/* Block: header*/
header {
  border-bottom: 1px solid #ECECEC;
  background: rgba($c-white, 0.5);
}

.header__inner {
  @include center();
  height: 65px;
}

.header__logo {
  float: left;
  margin-top: 12.5px;
  width: 169px;
  height: 40px;
  background: transparent url(../images/logo.png) no-repeat center center;
}

.header__menu {
  float: right; 
}

.header__menu-link {
  float: left;
  margin-right: 40px;
  color: $c-verydark;
  font-size: 16px;
  line-height: 65px;
}

.header__button {
  margin-top: 17px;
  width: 156px;
  height: 31px;
  outline: none;
  border: 1px solid $c-orange;
  border-radius: $border-radius;
  background: $c-white;
  color: $c-orange;
  font-size: 16px;
  font-family: $ff-ptsans;
  cursor: pointer;
  transition: all 200ms ease-in;
  
  &:hover {
    background: $c-orange;
    color: $c-white;
  }
}