$ff-ptsans: "PT Sans", sans-serif;
$ff-ptsansnarrow: "PT Sans Narrow", sans-serif;

$main-width: 960px;

$c-white: white;
$c-verydark: #2d2d2c;
$c-orange: #b74217;
$c-gray: #110f12;

$border-radius: 5px;