<section class="faq">
	<div class="faq__row">
		<h3 class="faq__row-title">Frequently Asked Question</h3>
		<div class="faq__row-col">
			<p class="faq-col__text">
				<span class="faq-text__question">Q: What kinds of things can I use Magic for?</span>
				<span class="faq-text__answer">Anything you want. As long as it's not illegal. Seriously. Just try it.</span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">Q: How do you charge me and know where to deliver, etc.?</span>
				<span class="faq-text__answer">The first time you use Magic, we'll ask for your credit card info, your address, etc. After that, we know who you are and everything's on autopilot.</span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">Q: Where is Magic available?</span>
				<span class="faq-text__answer">Anywhere in the US. </span>
			</p>
		</div>
		<div class="faq__row-col">
			<p class="faq-col__text">
				<span class="faq-text__question">Q: How quickly will I get what I want after requesting it?</span>
				<span class="faq-text__answer">As soon as possible.</span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">Q: How do you guarantee that my credit card number is safe?</span>
				<span class="faq-text__answer">We will send you a 128-bit encrypted HTTPS link via SMS that you can click to enter your credit card number. We do not store your credit card number. All payment processing is handled by Stripe.</span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">Q: How much does it cost?</span>
				<span class="faq-text__answer">It's completely free to chat with Magic. When you order something, we'll let you know the total price so you can confirm it before you are billed. There are no hidden fees, and tip is included.</span>
			</p>	
		</div>
	</div>
</section>