<section class="faq" id="faq">
	<div class="faq__row">
		<h3 class="faq__row-title">Частые вопросы</h3>
		<div class="faq__row-col">
			<p class="faq-col__text">
				<span class="faq-text__question">Какие вопросы Вы решаете? </span>
				<span class="faq-text__answer">Абсолютно любые, если это не противоречит законодательству.</span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">Как быстро я получу то, что хочу? </span>
				<span class="faq-text__answer">Максимально быстро.</span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">Работает по всему Казахстану?</span>
				<span class="faq-text__answer">Пока только в Алматы, но все равно напишите нам, мы что-нибудь придумаем.</span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">Сколько это стоит? </span>
				<span class="faq-text__answer">Написать нам ничего не стоит. Мы предложим решение вопроса и укажем стоимость. Если цена устроит – решаем вопрос.</span>
			</p>			
		</div>
		<div class="faq__row-col">
			<p class="faq-col__text">
				<span class="faq-text__question">Как оплачивается и доставляется заказ?</span>
				<span class="faq-text__answer">Просто передайте оплату нашему курьеру. После нашего знакомства все работает на автопилоте. Достаточно написать: «доставьте в офис или домой».</span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">Что еще полезно знать?</span>
				<span class="faq-text__answer">Пока мы работаем только по приглашению с 08.00–22.00. 
				<a href="mailto:invite@reshim.kz">Получить приглашение.</a></span>
			</p>
			<p class="faq-col__text">
				<span class="faq-text__question">В чем подвох?</span>
				<span class="faq-text__answer">Не все вопросы будет возможно решить мгновенно. Простите нас заранее и обязательно дайте нам второй шанс, мы быстро учимся. <span class="faq__smile"></span></span>
			</p>	
		</div>
	</div>
</section>