<footer>
	<div class="footer-inner">
		<div class="contact">

			<form action="" class="contact__form">
			<img src="../images/logo_phone.png" alt="" class="contact__form-logo">
			<label for="name" class="contact__form-label">загадайте желание</label>
				<input type="text" id="name" class="contact__form-input" placeholder="Ваш номер">
				<textarea name="" placeholder="Я хочу..." id="" class="contact__form-text"></textarea>
				<input type="button" value="Отправить" class="contact__form-button">
			</form>
		</div>
		<menu class="footer__menu">
      <a href="mailto:info@reshim.kz" class="footer__menu-link">НАПИСАТЬ НАМ </a>
    </menu>
	</div>
</footer>