<footer>
	<div class="footer-inner">
		<div class="contact">

			<form action="" class="contact__form">
			<img src="../images/logo_phone.png" alt="" class="contact__form__logo">
			<label for="name" class="contact__form__label">загадайте желание</label>
				<input type="text" id="name" class="contact__form__input" placeholder="Ваш номер">
				<textarea name="" placeholder="Я хочу..." id="" class="contact__form__text"></textarea>
				<input type="button" value="Отправить" class="contact__form__button">
			</form>
		</div>
		<menu class="footer__menu">
      <a href="#!" class="footer__menu-link">Email The Founders</a>
      <a href="#!" class="footer__menu-link">Work For Us</a>
      <a href="#!" class="footer__menu-link">Support / Help</a>
      <a href="#!" class="footer__menu-link">Press Contact</a>
    </menu>
	</div>
</footer>