<header>
  <div class="header__inner">
    <span class="header__logo"></span>
    <menu class="header__menu">
      <a data-section="makeawish" href="#makeawish" class="header__menu-link">Моё приглашение</a>
      <a data-section="howitworks" href="#howitworks" class="header__menu-link">Как это работает?</a>
      <a data-section="faq" href="#faq" class="header__menu-link">Частые вопросы</a>
      <a href="mailto:info@reshim.kz" class="header__menu-link">info@reshim.kz</a>
    </menu>
  </div>
</header>