<section class="howitworks" id="howitworks">
  <div class="howitworks__inner">
    <h2 class="howitworks__title">Как это работает?</h2>
    <div class="howitworks__items">
      <div class="howitworks__item">
        <span class="howitworks__icon _message"></span>
        <h4 class="howitworks__item-title">1 - Просто</h4>
        <p class="howitworks__item-description">Отправьте нам сообщение, <br> это ничего не стоит!</p>
      </div>
      <div class="howitworks__item">
        <span class="howitworks__icon _24"></span>
        <h4 class="howitworks__item-title">2 - Удобно</h4>
        <p class="howitworks__item-description">Мы продумаем все варианты <br> и предложим лучший.</p>
      </div>
      <div class="howitworks__item">
        <span class="howitworks__icon _gift"></span>
        <h4 class="howitworks__item-title">3 - Быстро</h4>
        <p class="howitworks__item-description">Доставим готовое решение <br> в нужное место и время.</p>
      </div>
    </div>
    <div class="howitworks__magic">
      <h4 class="howitworks__magic-title">Примеры решений</h4>
      <div class="howitworks__magic-slider">
        <span class="howitworks__magic-slider__cover"></span>
        <ul class="howitworks__magic-slider__items">
          <li>
            <img src="/images/slider/1.png" alt="">
          </li>
          <li>
            <img src="/images/slider/2.png" alt="">
          </li>
          <li>
            <img src="/images/slider/3.png" alt="">
          </li>
          <li>
            <img src="/images/slider/4.png" alt="">
          </li>
          <li>
            <img src="/images/slider/5.png" alt="">
          </li>
          <li>
            <img src="/images/slider/6.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>