<section class="howitworks">
  <div class="howitworks__inner">
    <h2 class="howitworks__title">Как это работает?</h2>
    <div class="howitworks__items">
      <div class="howitworks__item">
        <span class="howitworks__icon _message"></span>
        <h4 class="howitworks__item-title">1 - Просто</h4>
        <p class="howitworks__item-description">Отправьте нам текстовое сообщение, <br> и вы получите то, что хотите.</p>
      </div>
      <div class="howitworks__item">
        <span class="howitworks__icon _24"></span>
        <h4 class="howitworks__item-title">2 - Доступно</h4>
        <p class="howitworks__item-description">Наши операторы отвечают на каждый <br> из ваших запросов 24/7.</p>
      </div>
      <div class="howitworks__item">
        <span class="howitworks__icon _gift"></span>
        <h4 class="howitworks__item-title">3 - Удобно</h4>
        <p class="howitworks__item-description">Мы закажем то, что вам нужно из любой <br> сферы жизни и договоримся с ними так, <br> что вы получите все автоматически.</p>
      </div>
    </div>
    <div class="howitworks__magic">
      <h4 class="howitworks__magic-title">Как по волшебству…</h4>
      <div class="howitworks__magic-slider">
        <span class="howitworks__magic-slider__cover"></span>
        <ul class="howitworks__magic-slider__items">
          <li>
            <img src="/images/slider/1.png" alt="">
          </li>
          <li>
            <img src="/images/slider/2.png" alt="">
          </li>
          <li>
            <img src="/images/slider/3.png" alt="">
          </li>
          <li>
            <img src="/images/slider/4.png" alt="">
          </li>
          <li>
            <img src="/images/slider/5.png" alt="">
          </li>
          <li>
            <img src="/images/slider/6.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>